@using WebClient.Services.Orders.ViewModels
@model AddressVM


<select class="w-full border border-gray-nurse-100 p-2 mb-4" hx-get="/orders/available-countries?selected=@Model?.Country?.SelectedValue" hx-trigger="load delay:200ms" hx-swap="outerHTML" name="ShippingAddress.CountryName">
    <option value="">Select your country...</option>
</select>

@Html.RedValidationMessage(x => x.MajorDivision, "ShippingAddress.MajorDivision")
<input asp-for="MajorDivision" name="ShippingAddress.MajorDivision" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="State, province, oblast, etc..." form="orderForm" />

@Html.RedValidationMessage(x => x.Locality, "ShippingAddress.Locality")
<input asp-for="Locality" name="ShippingAddress.Locality" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="City, Town, Village, etc..." />

@Html.RedValidationMessage(x => x.MinorDivision, "ShippingAddress.MinorDivision")
<input asp-for="MinorDivision" name="ShippingAddress.MinorDivision" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="City area, district, etc..." />

@Html.RedValidationMessage(x => x.Street, "ShippingAddress.Street")
<input asp-for="Street" name="ShippingAddress.Street" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="Street" />

@Html.RedValidationMessage(x => x.StreetNumber, "ShippingAddress.StreetNumber")
<input asp-for="StreetNumber" name="ShippingAddress.StreetNumber" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="Street number" />

@Html.RedValidationMessage(x => x.HouseNumber, "ShippingAddress.HouseNumber")
<input asp-for="HouseNumber" name="ShippingAddress.MajorDivision" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="House number" />

@Html.RedValidationMessage(x => x.PostalCode, "ShippingAddress.PostalCode")
<input asp-for="PostalCode" name="ShippingAddress.PostalCode" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="Postal/ZIP code" />

@Html.RedValidationMessage(x => x.ExtraDetails, "ShippingAddress.ExtraDetails")
<input asp-for="ExtraDetails" name="ShippingAddress.ExtraDetails" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="Extra details (optional)" />

@Html.RedValidationMessage(x => x.Latitude, "ShippingAddress.Latitude")
<input asp-for="Pre_Latitude" name="ShippingAddress.Pre_Latitude" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="Latitude" />

@Html.RedValidationMessage(x => x.Longitude, "ShippingAddress.Longitude")
<input asp-for="Pre_Longitude" name="ShippingAddress.Pre_Longitude" class="w-full border border-gray-nurse-100 p-2 mb-4" placeholder="Longitude" />