@using WebClient.Services.Cart

@model CartGetDTO

<header class="flex flex-row justify-between items-center flex-1 max-h-[10vh]">
    <h3 class="text-lg font-bold">Cart items</h3>

    <button onclick="closeCartMenu()">
        <i class="fa-solid fa-x"></i>
    </button>
</header>


<div id="cartItems" class="max-h-[80vh] flex-[9] overflow-y-auto">
    @foreach (var item in Model.Items)
    {
        <div class="flex flex-row justify-between gap-4 mb-4">
            <div class="flex flex-row gap-4">
                <form hx-delete="/cart/@item.ProductId" hx-swap="none">
                    @Html.AntiForgeryToken()
                    <input value="@item.ProductId" name="productId" hidden />
                    <button type="submit" class="my-auto text-[0.5rem] text-rose-600 border-rose-600 border h-4 aspect-square rounded-full font-light">
                        <i class="fa-solid fa-x"></i>
                    </button>
                </form>                

                <img src="https://source.unsplash.com/random/50x50/?@item.Name,@item.ProductId" class="object-cover aspect-square w-[50px]">

                <div>
                    <h4>@item.Name</h4>
                    <span class="flex flex-row text-gray-nurse-500 text-sm">
                        @item.Price.ToString("c")
                        <span class="mx-2">x</span>
                        <form hx-put="/cart/@item.ProductId"
                              hx-trigger="change delay:500ms from:#cartItem_amount_@item.ProductId">
                            @Html.AntiForgeryToken()
                            <input id="cartItem_amount_@item.ProductId" type="number" min="1" step="1" value="@item.Amount" name="amount" />
                        </form>
                    </span>                    
                </div>
            </div>

            <div class="flex flex-row flex-wrap gap-4 text-right items-center">
                <span class="font-bold">@((item.Amount * item.Price).ToString("c"))</span>
            </div>
        </div>
    }        
</div>

<footer class="flex-1 flex flex-col max-h-[10vh] border-t-2 border-gray-nurse-200 pt-8 gap-4">
    <div class="flex flex-row justify-between items-center">
        <span>Total: </span>
        <span class="font-bold text-lg">
            @if (Model.HasDiscounts)
            {
                <span class="line-through text-rose-600">@Model.Total.ToString("c")</span>

                <span class="flex items-center bg-rose-600 text-white text-xs rounded-lg font-bold h-6 px-1">
                    @Model.Total.ToString("c")
                </span>
            }
            else
            {
                <span>@Model.Total.ToString("c")</span>
            }
        </span>
    </div>
   
    <div class="flex flex-row justify-end">
        <a asp-controller="Orders" asp-action="PlaceOrder" class="bg-zuccini-700 text-white font-medium p-3 hover:bg-zuccini-400 transition-all ease-in-out duration-200 cursor-pointer">PLACE ORDER</a>
    </div>
</footer>

<script id="loadCartItemsAddedScript" type="text/javascript">
    (
        function () {
            document.getElementById("numberOfCartItemsAdded").textContent = '@Model.Items.Count';
            document.getElementById("loadCartItemsAddedScript").remove();
        }
    )()
</script>