@using WebClient.Controllers
@model ShopSearchFilter
@{
    ViewData["Title"] = "Shop";
}

<form id="searchForm"
      hx-get="/shop/product-list"
      hx-trigger="submit"
      hx-swap="innerHTML"
      hx-target="#productList"
      hidden>
    <input id="searchFromType" name="type" value="@Model.TypeSelected" />
    <input id="searchFromCategory" name="categories" value="@string.Join(",", Model.SelectedCategories)" />
    <button type="submit"></button>
</form>

<div class="p-8 flex flex-col lg:flex-row gap-8">
    <aside class="flex-1">
        <div class="mb-4">
            <label for="productType" class="mb-2 text-md font-medium text-gray-900 flex items-center">
                PRODUCT TYPE
                <button class="ml-4 text-[0.5rem] text-rose-600 border-rose-600 border h-4 aspect-square rounded-full font-light" onclick="applyFilter(() => clearCheckableFilter('typeOption', 'type'))">
                    <i class="fa-solid fa-x"></i>
                </button>
            </label>

            <div class="flex flex-col px-2">
                @foreach (var type in Model.AvailableTypes)
                {
                    <label for="@type.Name" class="text-md mb-2 font-light text-gray-900">
                        <input id="@type.Name" type="radio" 
                            value="@type.Name" 
                            checked="@(type.Name == Model.TypeSelected)" 
                            class="mr-4"
                            name="typeOption"
                               onchange="applyFilter(() => updateInputValueFromValue(this, 'searchFromType'))" />
                        @type.Name
                    </label>
                }
            </div>
        </div>

        <div class="mb-4">
            <label for="productType" class="mb-2 text-md font-medium text-gray-900 flex items-center">
                PRODUCT CATEGORY
                <button class="ml-4 text-[0.5rem] text-rose-600 border-rose-600 border h-4 aspect-square rounded-full font-light" onclick="applyFilter(() => clearCheckableFilter('categoryOption', 'categories'))">
                    <i class="fa-solid fa-x"></i>
                </button>
            </label>

            <div class="flex flex-col px-2 overflow-y-auto max-h-60">
                @foreach (var category in Model.AvailableCategories)
                {
                    <label for="@category.Name" class="text-md mb-2 font-light text-gray-900">
                        <input id="@category.Name"
                               name="categoryOption"
                            type="checkbox" 
                            value="@category.Name" 
                            checked="@(Model.SelectedCategories.Contains(category.Name))" 
                            class="mr-4"
                               onchange="applyFilter(() => updateInputValueFromCheckbox(this, 'searchFromCategory'))" />
                        @category.Name
                    </label>
                }
            </div>
        </div>
    </aside>

    <section class="flex-[4]">
        <header class="text-gray-600">
            <h2 class="text-2xl mt-4 text-gray-800">Shop</h2>
            <p class="mt-4">Plants abound in our surroundings, yet their contributions extend far beyond their aesthetic appeal. These verdant marvels play a crucial role in sustaining life, harboring a plethora of fascinating capabilities.</p>

            <p class="mt-2">Beyond their ornamental blooms, plants excel as indispensable multitaskers, undertaking tasks ranging from air purification to promoting our well-being. Join us as we embark on a journey into the realm of plants, exploring their remarkable qualities in a lighthearted and informative listicle format. Discover the myriad facets of these botanical wonders that make them essential participants in the intricate dance of life.</p>
        </header>

        <div id="productList" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 mt-8"
             hx-get="/shop/product-list"
            hx-trigger="load delay:200ms"
            hx-swap="innerHTML"
            hx-include="[name='type'],[name='categories']">
        </div>
    </section>
</div>


@section Scripts{
    <script src="pages/shop.js" asp-append-version="true"></script>
}